/* Global Reset for box-sizing */
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2b2349;
    text-align: center;
    margin-bottom: 20px;
}

/* Container for centering form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

form {
    width: 100%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Standard table layout */
table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Make table cells consistent */
    word-wrap: break-word;
}

thead {
    background-color: #2b2349;
    color: white;
}

th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
    white-space: nowrap; /* Prevent text wrapping */
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Style for subheaders */
.subheader {
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    background-color: #e0e0e0;
    padding: 10px 0;
    border-bottom: 2px solid #ccc;
    grid-column: 1 / -1; /* Span across all columns */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    /* Allow table to scroll horizontally */
    table {
        table-layout: auto; /* Allow dynamic width adjustment */
        overflow-x: auto;
        display: block;
    }
    
    th, td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    /* Ensure subheader spans all available columns */
    .subheader {
        grid-column: 1 / -1;
    }
}

.order-btn {
    background-color: #2b2349;
    color: white;
    padding: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

.order-btn:hover {
    background-color: #1d1832;
}
